<div class="containeur-header">
    <div class="containeur-margin">

        <div class="grid-header-containeur">
            <div class="items image-logo"></div>
            <div class="items navbar-containeur">
                <div class="navbar-items">Home</div>
                <div class="navbar-items">Agir</div>
                <div class="navbar-items">Programme</div>
                <div class="navbar-items">Ressources</div>
                <div class="navbar-items">Photos</div>
            </div>
            <div class="items presentation-containeur">
                <div class="presentation-title">INITIATIVES OCÉANES, UN PROGRAMME PILOTÉ PAR SURFRIDER FOUNDATION EUROPE</div>
                <div class="presentation-button-containeur">
                    <div class="country">
                        <div class="items-country">FR</div>
                        <div class="items-country">ES</div>
                        <div class="items-country">EN</div>
                    </div>
                    <div class="button-presentation">Mon Compte</div>
                    <div class="button-presentation">Organiser</div>
                </div>
                
            </div>
        </div>

    </div>  
</div>

<div class="containeur-header-smartphone" style="display: none;">
    <div class="header-smartphone-flex">
        <div class="item logo-smarthphone"></div>
        <div class="item button-smartphone">
            <div class="decoration"></div>
            <div class="decoration"></div>
            <div class="decoration"></div>
        </div>
    </div>
</div>