<div class="main-containeur">
    <div class="center-containeur">
        <div class="grid-center-containeur">
            <div class="title-containeur title">INITIATIVES OCÉANES</div>
            <div class="text-containeur">Collectes de déchets sur plages et le long des cours d’eau, pour comprendre et résoudre la problématique des déchets aquatiques.</div>
            <div class="button-containeur">
                <div class="bouton-item">Participer</div>
                <div class="bouton-item">Organiser</div>
            </div>
        </div>

        <div class="grid-center-containeur-smartphone" style="display: none;">
            <div class="item-smartphone title-smarthpone">INITIATIVES OCÉANES</div>
            <div class="item-smartphone containeur-button-smartphone">
                <div class="button-smartphone">Participer</div>
                <div class="button-smartphone">Organiser</div>
            </div>
        </div>


    </div>
</div>