<script src="counter_animation.js"></script>


<div class="changement-containeur">
    <div class="center-containeur">
        <div class="grid-center-containeur">
            <div class="title-containeur">               
                <div class="text-items">VOUS ÊTES</div>
                <div class="text-items">À LA BASE DU CHANGEMENT</div>                
            </div>

            <div class="text">Vous avez le pouvoir de sensibiliser les personnes autour de vous sur la pollution 
                par les déchets et de nous aider à améliorer les connaissances scientifiques. Les données que vous 
                allez collecter nous permettent d’interpeller les politiques et les industriels. Plus nous serons mobilisés,
                 plus nous aurons du poids et plus nous pourrons faire changer les lois et la production.
            </div>

            <div class="button-containeur">
                <div class="button">Voir les résultats</div>
            </div>

            <div class="left-data-containeur">
                <div class="data-number">{{data_dechets}}</div>
                <div class="data-description">Déchet Collectés</div>
            </div>

            <div class="left-data-containeur">
                <div class="data-number">72 018</div>
                <div class="data-description">Killomètres parcourus</div>
            </div>

            <div class="left-data-containeur">
                <div class="data-number">25 543</div>
                <div class="data-description">Sac remplis de déchets</div>
            </div>

        </div>
    </div>
</div>

