.main-containeur {
    height: 80vh;
    width: 100vw;
    margin-top: 2vh;


    display: flex;
    justify-content: center;
    align-items: center;

    .center-contianeur {
        width: 70vw;
        height: 100%;

        display: flex;
        flex-direction: column;

        .title-organiser {
            color: black;
            font-size: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    .map-container {
        height: 85vh;
        width: 100%;
        position: relative;
        z-index: 1;
        
        #map {
          height: 100%;
          z-index: -1;
        }
    }
}