<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <app-header></app-header>
</header>

<body>
    
    <div class="main-containeur">
        <div class="center-contianeur">
            
            <div class="first-form">
                <div class="title">Organiser une collecte</div>
                    <div class="containeur-bar">
                        <div class="search-containeur">
                            <div class="title-search-bar">Numéro de la collecte *</div>
                            <input type="number" class="search-bar" [(ngModel)]="newCollecte.id" name="id">
                        </div>

                        <div class="search-containeur">
                            <div class="title-search-bar">Nom de la plage *</div>
                            <input type="text"  class="search-bar" [(ngModel)]="newCollecte.beachName" name="beachName">
                        </div>

                        <div class="search-containeur">
                            <div class="title-search-bar">Descriptions</div>
                            <input type="text"  class="search-bar" [(ngModel)]="newCollecte.descriptions" name="descriptions">
                        </div>

                        <div class="search-containeur">
                            <div class="title-search-bar">Identité organisateur</div>
                            <input type="text"  class="search-bar" [(ngModel)]="newCollecte.organisateur" name="organisateur">
                        </div>

                        <div class="search-containeur">
                            <div class="title-search-bar">Date de la collecte</div>
                            <input type="date" class="search-bar" [(ngModel)]="newCollecte.dateCollecte" name="dateCollecte">
                        </div>                       
                    </div>
                
            </div>

            <div class="second-form">
                <div class="title">Localisation de la collecte</div>

                <div class="map-container">        
                    <div id="map"></div>    
                </div>

                <div class="latlng-containeur">
                    <div class="search-containeur">
                        <div class="title-search-bar">Latitude</div>
                        <input type="number"  class="search-bar" [(ngModel)]="newCollecte.latitude" name="latitude">
                    </div>  
                    <div class="search-containeur">
                        <div class="title-search-bar">Longitude</div>
                        <input type="number"  class="search-bar" [(ngModel)]="newCollecte.longitude" name="longitude">
                    </div>         
                </div>            
            </div>

            <div class="button-containeur">
                <div class="center-containeur">
                    <button type="submit" class="back-button commun-button" >Annuler</button>
                    <button type="submit" class="next-button commun-button" (click)="addCollecte()">Valider</button>
                </div>             
            </div>

            <div class="feed-back" style="color: green; display: flex; align-items: center; justify-content: center;">{{feedback}}</div>
           
        </div>
    </div>
</body>
</html>
